doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title portifolio 
    link(rel="stylesheet", href="style/index.css")
    link(rel="stylesheet", href="style/all.min.css")
    link(rel="stylesheet", href="style/normalize.css")
  body 
    header 
      img(src="media/logo.png", alt="")
      a(href="contacy.html") Conatct Me
    section.landing 
      video(src="media/Purple Modern How To Install App Video.mp4" type="video/mp4" autoplay loop muted)
      img(src="media/personal.png", alt="") 
    .about
      p.story گن وحيدا في الطريق الصحيح ولاتكن زعيما في الطريق الغلط ^_√
      p.school <i class="fa-solid fa-graduation-cap"></i> درس في<h3>مدرسة العبور الثانوية بنين</h3>
      p.edu <i class="fa-solid fa-graduation-cap"></i> درس في<h3>معهد الوادي العالي للادارة والمالية ونظم المعلومات </h3>
    .footer 
      .card 
        <i class="fa-solid fa-address-card"></i>
        h4 about
      .card 
        <i class="fa-solid fa-code"></i>
        h4 skiils
      .card 
        <i class="fa-solid fa-briefcase"></i>
        h4 project
      .card 
        <i class="fa-solid fa-phone"></i>
        h4 contact
      
      
      



